behaviors {
    macro_gui_layer: macro_gui_layer {
        compatible = "zmk,behavior-macro";
        #binding-cells = <0>;
        bindings = <
            &macro_press &kp LGUI
            &macro_press &mo 5
            &macro_pause_for_release
            &macro_release &kp LGUI
            &macro_release &mo 5
        >;
    };

    ht_k_gui: ht_k_gui {
        compatible = "zmk,behavior-hold-tap";
        #binding-cells = <2>;
        tapping-term-ms = <280>;
        flavor = "balanced";
        bindings = <&kp>, <&kp>;
        quick-tap-ms = <175>;
        global-quick-tap;
    };

    td_k_gui: td_k_gui {
        compatible = "zmk,behavior-tap-dance";
        #binding-cells = <0>;
        tapping-term-ms = <225>;
        bindings = <&ht_k_gui LGUI K>, <&macro_gui_layer>;
    };
};
