#define TAP_DANCE_MOD_TAP(name, hold_mod, tap_key, dance_key) \

/ { \
    behaviors { \
        name: name { \
            compatible = "zmk,behavior-tap-dance"; \
            #binding-cells = <0>; \
            tapping-term-ms = <200>; \
            bindings = <&mt hold_mod tap_key>, <&kp dance_key>; \
        }; \
    }; \
}

